<div class="full-screen" style="display: flex;flex-flow: column;">
	<nav class="navbar navbar-dark" style="background: #21b2fe">
		<a routerLink="/game" class="navbar-brand">
			<img src="assets/logo_original.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
			Pokr
		</a>
		<span class="navbar-text float-xs-right">
			<span class="fa-stack">
				<i class="fa fa-square-o fa-fw fa-stack-2x"></i>
				<i class="fa fa-cog fa-fw fa-stack-1x"></i>
			</span>
		</span>
		<span class="navbar-text float-xs-right" style="margin-right:5px;">
			<img src="{{user.avatar}}" width="30" height="30" class="d-inline-block align-top" alt="Avatar" style="border-radius: 15px;margin-right:5px;">
			Welcome {{user.name}}
		</span>
	</nav>
	<router-outlet></router-outlet>
</div>