html,body{
	width: 100%;
	height: 100%;
	margin: auto;
}
textarea{
  resize: none;
}
.loader{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 100px;
}
.full-screen{
	width: 100%;
	height:100%;
	margin:auto;
}